#headings
{
    border:1px rgb(66, 66, 66) solid;
    background-color:rgb(66, 66, 66);
    color:white;
    font-size:15px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:50;
}
#headings td
{
    border:0;
}
.adv
{
    color:rgb(55, 55, 158);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
table
{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

#products
{
    width:1300px;
    margin-left:25px;
    margin-bottom:55px;
}